{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
    <h1>Espace memebre privé</h1>
    


        <div class="row">
        <div class="col-md-3">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-9">

            <div class="d-flex justify-content-between">
           <h5>Mes addresses</h5>
              <a href="{{ path('app_account_address_form') }}" class="btn btn-light"> Ajouter une adresse </a>

            </div>

              <div class="row">

                {% for address in app.user.addresses %}

                     <div class="col-md-4 mt-2 p-2">
                     
                    </div>
                        <div class="bg-light p-2 text-center">
                        {{ address.firstname}} 
                         {{ address.lastname }} <br>
                          {{ address.address }}<br>
                           {{ address.postalcode }}
                            {{ address.city }}
                             {{ address.country }} </br>
                            <a href="{{ path('app_account_address_form', { id : address.id } ) }}" class="btn btn-dark">
                                 <i class="bi bi-pencil"></i>
                            </a>
                            <a href="{{ path('app_account_address_delete', { id : address.id } ) }}" class="btn btn-dark">
                                 <i class="bi bi-trash"></i>
                            </a>
                        </div>

                {% endfor %}

              </div>

            
        </div>
    </div>
    
</div>


{% endblock %}